@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


body {
    font-family: "Roboto", sans-serif;
    background-color: #F3F4F6;
    width: 1500px;
    margin: auto;
}

h1 {
    font-size: 5em;
    text-align: center;
}
h2{
    font-size: 3em;
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    background-color: #1E3A8A;
    margin: 5px;
    padding:5px;
    border-radius: 5px;
}

li{
    margin: 2em;
    font-size: 20px;
}


input{
    display: block;
    margin-bottom: 2em;
}

#contact{
    text-align: left;
}

hr{
    margin-top: 2em;
    margin-bottom: 2em;
}
span{
    font-weight: bold;
}